body {
  /* width: 45%; */
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}
header {
  text-align: center;
  background-color: rgb(61, 60, 116);
  padding: 15px;
  margin: 10px auto 45px auto;
  color: white;
}
h2 { text-align: center; }
input[type='search'] {
  display: block;
  height: 40px;
  width: 70%;
  margin: 0 auto;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 4px;
  font-size: 20px;
  padding: 5px;
}
.song {
  width: 50%;
  margin: 10px auto;
  padding: 15px 25px;
  border-radius: 6px;
}
.song:nth-child(even) {
  background-color: rgb(61, 60, 116);
  color: rgb(255, 255, 255);
}